img.home {
  padding-top: 3rem;
  width: 100%;
  height: 30em;
}

.access-title {
  font-size: 30px;
  text-align: center;
  padding: 2rem 0 0 0;
  opacity: 0.8;
  color: gray;
  font-weight: 700;
}


.access-adress {
  text-align: center;
  margin: 2em 15em;
  padding: 2.5em;
  background-color: rgb(242, 234, 234);
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.name {
  padding: 1rem 0 1rem 0;
}

.adress {
  padding-bottom: 1rem;
}
.phone-number {
  padding-bottom: 1rem;
}

.time {
  padding-bottom: 1rem;
}

.map {
  padding-bottom: 4rem;
}


@media screen and (max-width: 767px) {

  img.home {
    padding-top: 3rem;
    width: 100%;
    height: 20em;
  }

  .access-title {
    font-size: 20px;
    text-align: center;
    padding: 1.5rem 0;
    opacity: 0.8;
    color: gray;
    font-weight: 700;
  }

  .access-adress {
    text-align: center;
    margin: 2px 2em;
    padding: 1rem;
    background-color: rgb(242, 234, 234);
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 0;
  }
  .map {
    padding-top: 2.5rem;
    height: 20em;
  }
}