.menu-content {
  padding-top: 1%;
}
.title_menu {
  height: 21.47px;
  width: 40px;
  display: block;
  margin: 0 auto;
  padding: 35px 0 10px 0;
}

.menu_title {
  text-align: center;
  font-size: 18px;
}

.menu_title_top {
  line-height: 32px;
}

.este1-image {
  height: 20rem;
  width: 45%;
  padding: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

.este_menu_image {
  margin: auto;
  display: block;
  width: 88%;
  height: 25em;
  border-radius: 30px;
}

.menu_title_middle {
  font-size: 16px;
  text-align: center;
  line-height: 1.8em;
}

.menu-link {
  text-align: center;
  padding: 30px;
  margin-top: 3%;
  opacity: 0.7;
}

.menu_link {
  border: #000 1px solid;
  text-decoration: none;
  padding: 2%;
  font-size: 0.8rem;
}

.menu {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
  padding-top: 4rem;
  width: auto;
  height: auto;
}

.este-top-title {
  font-size: 32px;
  opacity: 0.8;
  color: white;
}

.top-menu-comment {
  line-height: 1.6em;
  font-size: 18px;
  opacity: 0.5;
  text-align: center;
  padding-top: 2em;
}

.middle-menu {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

/******* カイロメニュー *******/
.kairo_menu {
  
}
.kairo_container {
  display: flex;
  margin: 3em 5em;
  padding: 1em;
  background-color: rgb(242, 234, 234);
  border-radius: 20px;
}

.kairo_image {
  border-radius: 20px;
  width: 30%;
  height: 12rem;
}

.kairo_menu_title {
  padding: 1em 0 0 1.5em;
  line-height: 1.8em;
  opacity: 0.5;
  font-size: 16px;
}

.kairo_menu_comment {

}

/*********************** エステメニュー・スマホ表示時 ***********************/

@media screen and (min-width:480px) {}
@media screen and (min-width:768px) and (max-width:1024px) {}
@media screen and (min-width:1024px) {}

@media screen and (max-width: 767px) {
  .menu {
    background-color: #fff6e5;
    font-family: 'NotoSerifJP-ExtraLight';
    padding-top: 0.1rem;
    width: auto;
    height: auto;
  }

  .este_menu_image {
    margin: auto;
    display: block;
    width: 88%;
    height: 25em;
    border-radius: 30px;
  }
  
  .este-top-title {
    font-size: 32px;
    opacity: 0.8;
    color: white;
  }
  
  .top-menu {
    background-color: rgb(242, 234, 234);
    margin-top: 0.8rem;
    height: 250px;
    width: 100%;
  }
  
  .top-menu-comment {
    line-height: 1.5em;
    font-size: 16px;
    opacity: 0.8;
  }


  .kairo_container {
    display: flex;
    margin: 6px 6px;
    padding: 7px;
    background-color: rgb(242, 234, 234);
    border-radius: 20px;
    width: auto;
    height: auto;
  }
  
  .kairo_image {
    border-radius: 20px;
    margin: 0 15px 15px 0;
    width: 30%;
    height: 60%;
    float: left;
  }

  .kairo_menu_name {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .kairo_menu_title {
    padding: 3px 0 0 5px;
    margin: 0 15px 15px 0;
    line-height: 1.6em;
    opacity: 0.8;
    font-size: 18px;
  }

  .kairo_sub_title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .kairo_menu_comment {
    font-size: 16px;
    line-height: 1.6em;
  }
}